table {
  min-width: 100%;
  background-color: #eeeeee;
  border-spacing: 0 10px !important;
}

th {
  position: sticky;
  top: 50%;
  text-align: left;
  vertical-align: middle;
}

thead,
tbody,
tr {
  display: contents;
}

.resource-list {
  text-align: center;
}

.list-row {
  display: flex;
  height: 100%;
  border-bottom: 1px solid #dddddd;
}

.list-header {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.column-heading {
  width: 75px;
  padding: 1rem;
  font-size: 12px;
}

.cell {
  height: 35px;
  width: 75px;
  align-items: center;
  padding: 1rem;
}

.scores {
  background-color: white;
}

.column-spacer {
  width: 150px;
  padding: 1rem;
  border-right: 1px solid #dddddd;
}

.student-info {
  width: 150px;
  display: flex;
  padding: 1rem;
  align-items: center;
  border-right: 1px solid #dddddd;
}

.name {
  width: 50%;
}

.name-block {
  display: block;
}

.average-grade {
  width: 50%;
  text-align: right;
}
